@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* display: flex; */
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #e5e5e5;
}

figure {
  margin-top: 40px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#logoAlura {
  position: absolute;
  width: 31.09px;
  height: 48px;
  left: 16px;
  top: 40px;
  padding-bottom: 84px;
  box-sizing: content-box;
}

main {
  position: relative;
  left: 16px;
}

textarea {
  font-size: 32px;
  width: 343px;
  margin-top: 152px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #0a3871;
}

textarea::placeholder {
  color: #0a3871;
}

button {
  padding: 24px;
  width: 343px;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  margin: 16px 0px;
}

#copyButton {
  margin: auto;
  padding: 24px;
  width: 279px;
  background-color: white;
}

button:hover,
#copyButton:hover {
  color: white;
  background-color: #0a3871;
  cursor: pointer;
}

p {
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

#encryptParagraph {
  display: flex;
  justify-content: start;
  width: 343px;
  /* margin-left: 20px; */
  margin-bottom: 16px;
  text-align: center;
}

.disabledElement {
  display: none;
}

#decrypt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-height: fit-content;
  width: 343px;
  padding: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  background: #ffffff;
  margin: 40px 0;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

#textToDecryptArea {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #495057;
  margin: 0px 16px;
  width: 279px;
  min-height: 180px;
  margin: auto;
}

#decryptMessagesDiv {
  box-sizing: border-box;
}

footer {
  text-align:center;
  
@media (min-width: 768px) {
  main {
    margin: 16px 40px 16px 40px;
  }

  #logoAlura {
    margin-bottom: 120px;
    margin-top: 73.42px;
    margin: 40px;
  }

  #textToEncryptArea {
    display: block;
    font-size: 32px;
    line-height: 48px;
    width: 688px;
    margin-top: 240px;
    padding: 0px;
  }

  #textToDecryptArea {
    width: 624px;
    padding-top: 32px;
  }

  #encryptParagraph {
    margin-left: 0;
    min-width: 624px;
  }

  button {
    width: 332px;
    margin: 0px;
  }

  #buttonsDiv {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    min-width: 624px;
  }

  #copyButton {
    width: 624px;
    margin-bottom: 32px;
  }

  #decrypt {
    flex-direction: start;
    margin-top: 64px;
    margin-left: 0;
    width: 688px;
    min-height: 133px;
    padding: 0px;
  }

  #decryptMessagesDiv {
    margin: 32px;
    min-width: 624px;
  }

  #decryptMessagesDiv p {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  body {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
    padding: 0px;
  }

  header {
    position: absolute;
  }

  #logoAlura {
    position: relative;
    width: 31.09px;
    height: 48px;
    left: 84px;
    top: 0;
    margin: 0;
  }

  #textToEncryptArea {
    position: relative;
    width: 680px;
    height: 600px;
    font-size: 32px;
    line-height: 48px;
    margin-top: 168px;
    margin-bottom: 48px;
  }

  button,
  #copyButton {
    width: 328px;
  }

  #buttonsDiv,
  #encryptParagraph,
  #textToEncryptArea {
    margin-left: 240px;
  }

  #decryptMessagesDiv {
    min-width: 336px;
    margin: auto 32px;
  }

  #decryptParagraph {
    height: 48px;
    font-size: 16px;
  }

  h1 {
    height: 58px;
  }

  #decrypt {
    width: 400px;
    height: 944px;
    margin: 40px 32px;
  }

  #textToDecryptArea {
    width: 336px;
    height: 681px;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
  }

  #decryptImage {
    width: 26.81;
    height: 23.5;
  }

  .disabledElement {
    display: none;
  }

  footer {
    position: relative;
    margin: auto;
    text-align: center;
  }
}
